.headline {
  font-weight: 500;
}

.post-body {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.title1 {
  color: #ffffff;
  font-weight: 900;
  background-color: #2f303a;
}
.title2 {
  color: #212121;
  font-weight: 700;
}
.background {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  top: 80px;
}
.background1 {
  background-color: #f5f4fa;
  width: 1600px;
  height: 648;
  top: 1449px;
}
.background2 {
  background-color: #2f303a;
  width: 1600px;
  height: 252;
  top: 2097px;
}

.post-body1 {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}
.button1 {
  color: #ffffff;
  font-weight: 700;
  background-color: #2196f3;
  cursor: pointer;
}
.button2 {
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  background-color: rgba(245, 244, 250, 1);
  cursor: pointer;
}
.button2:hover {
  background-color: rgba(33, 150, 243, 1);
}
.lorem {
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
}
.lorem1 {
  color: #757575;
  font-weight: 400;
}
.names {
  color: #212121;
  font-weight: 500;
}
.names2 {
  color: #757575;
  font-weight: 400;
}
.link {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.link2 {
  color: rgba(177, 177, 177, 1);
  cursor: pointer;
}
.hover {
  color: rgba(33, 150, 243, 1);
}
.hover1 {
  color: rgba(33, 150, 243, 1);
}
