.headline {
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
}
.headline:hover {
  color: rgba(33, 150, 243, 1);
}
.headline:focus {
  color: rgba(33, 150, 243, 1);
}
.post-body {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  line-height: 1.17;
}
.post-body1 {
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  line-height: 1.17;
}
.title1 {
  color: #ffffff;
  font-weight: 900;
  background-color: #2f303a;
}
.title2 {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title3 {
  color: rgba(33, 33, 33, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.background {
  background-color: #2f303a;
}
.background1 {
  background-color: #f5f4fa;
}
.background2 {
  background-color: #2f303a;
  font-style: normal;
}

.button1 {
  color: #ffffff;
  font-weight: 700;
  background-color: #2196f3;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 1.87;
}
.button2 {
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  background-color: rgba(245, 244, 250, 1);
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.button2:hover {
  background-color: rgba(33, 150, 243, 1);
}
.button2:focus {
  background-color: rgba(33, 150, 243, 1);
}
.lorem {
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
}
.lorem1 {
  color: #757575;
  font-size: 14px;
  line-height: 2;
}
.names {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  text-align: center;
}
.names2 {
  color: #757575;
  font-size: 16px;
  line-height: 1.33;
  text-align: center;
}
.link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
}
.link:hover {
  color: rgba(33, 150, 243, 1);
}
.link.focus {
  color: rgba(33, 150, 243, 1);
}
.link2 {
  color: rgba(177, 177, 177, 1);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
}
.link2:hover {
  color: rgba(33, 150, 243, 1);
}
.link2:focus {
  color: rgba(33, 150, 243, 1);
}
.address {
  color: #ffffff;
  font-size: 14px;
  line-height: 2;
}
.paragraph {
  color: rgba(117, 117, 117, 1);
  font-size: 16px;
  line-height: 1.87;
}
