.body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.title1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  background-color: #2f303a;
}
.title2 {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.background {
  background-color: #2f303a;
}
.background1 {
  background-color: #f5f4fa;
}
.accent {
  color: #2196f3;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.button1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background-color: #2196f3;
}
.lorem {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.lorem1 {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.names {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.names2 {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
